@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Jersey+10&display=swap");

$heading-main: "Jersey 10";
$heading-second: "Alfa Slab One";
$text-main: "Open Sans";

$background-color: #18191a;
$font-main-color: #fdc500;
$font-color-black: #000000;
$font-color-white: #ffffff;
