@use "../../styles/abstract/mixins" as *;
.general-statistics {
  background-color: lightgray;
  padding: 0 2rem;
  @include flex(row, space-between);
  div {
    @include flex(column, space-between);
  }
}
.games-links {
  background-color: lightgray;
  @include flex(row, space-evenly);
  padding: 0 2rem;
  h3 {
    cursor: pointer;
  }
}

.games-section {
  div {
    width: 250px;
    height: 300px;
  }
  padding: 0 2rem;
  gap: 5rem;
  margin-top: 2rem;
  @include grid();
}
