@use "../../styles/abstract/mixins" as *;
.detail-hero {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-hero {
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 20px;
  backdrop-filter: blur(5px);
  margin-top: 50px;
  h3 {
    width: 100%;
    margin: 0;
    margin-bottom: 1rem;
  }
}

.detail-second-page {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 2rem;
}

.user-experience-div {
  @include flex(column);
  background-color: white;
  padding-bottom: 10rem;
  overflow: hidden;
  mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom, black 58%, transparent 100%);
}

.quick-info {
  @include flex(column);
  ul {
    list-style: none;
    li {
      font-size: 2rem;
      margin: 1rem;
      color: white;
    }
  }
}

.user-experience {
  margin-left: 1rem;
  @include flex(column);
}
