@use "../../styles/abstract/mixins" as *;
.type-image {
  transition: 0.5s;
  width: 100%;
  @include border();
  object-fit: cover;
}

.type-image:hover {
  transform: scale(1.05);
}

.searched-holder {
  @include grid();
  padding: 2rem;
  justify-items: center;
  justify-content: space-evenly;
}

.character-card {
  background-color: white;
  width: 20rem;
  height: 50%;
  overflow: hidden;
  @include flex(column, flex-start);
  @include border();
  overflow-y: auto;
  height: 350px;

  img {
    width: 50%;
    height: auto;
    object-fit: contain;
    margin-top: 1rem;
  }
  p {
    color: black;
    padding: 1rem;
    font-size: 1.1rem;
    margin: 0;
  }
  h3 {
    margin: 1rem 0;
    font-size: 1.5rem;
  }
}
