@use "../../styles/abstract/mixins" as *;

.search-bar {
  width: clamp(100px, 50vw, 400px);
  height: 3rem;
  position: relative;
  @include flex();
}

.search-input {
  height: 60%;
  width: 100%;
  border-radius: 1rem;
}

.search-icon {
  height: clamp(16px, 2vh, 24px);
  position: absolute;
  right: 1rem;

  &:hover {
    cursor: pointer;
  }
}

@media (max-width: 768px) {
  .search-icon {
    display: none;
  }
}
