.showcase-games-div {
  height: 100%;
}

.games-holder {
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  align-content: center;
  justify-items: center;
  column-gap: 15%;
  margin-left: 10%;
  align-items: end;
}
h1 {
  text-align: center;
}
.card {
  width: 400px;
  height: 500px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 2.5rem;
  transition: all 2s ease-in-out;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.card::after,
.card::before {
  content: "";
  position: absolute;
  height: 82%;
  width: 80%;
  background-image: conic-gradient(
    from var(--angle),
    transparent,
    90%,
    #fdc500
  );

  background-image: conic-gradient(
    from var(--angle),
    rgb(255, 0, 0),
    rgb(255, 127, 0),
    rgb(255, 255, 0),
    rgb(0, 255, 0),
    rgb(0, 255, 255),
    rgb(0, 0, 255),
    rgb(139, 0, 255),
    rgb(255, 0, 255),
    rgb(255, 0, 0)
  );

  z-index: -1;
  border-radius: 3rem;
  animation: 3s spin linear infinite;
}

.card::before {
  filter: blur(1.5rem);
  opacity: 0;
}
@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

.card:nth-child(1) {
  transition-delay: 200ms;
}
.card:nth-child(2) {
  transition-delay: 400ms;
  height: 450px;
}

.card:nth-child(3) {
  transition-delay: 600ms;
  height: 400px;
}

.card:nth-child(4) {
  transition-delay: 800ms;
  height: 350px;
}

.temp-images {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2.5rem;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(100%);
  transition: 1s all;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
}

.tilt-card {
  position: absolute;
  width: 77%;
  height: 80%;
  transition: 1s;
}

.tilt-card:hover {
  transform: scale(1.1);
}
